
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                
                <h5>Address</h5>
                <hr class="light">
                <p>555-555-555</p>
                <p>email@gmail.com</p>
                <p>100 street Anaheim</p>
                <p>Los Angeles, California</p>
            </div>
            <div class="col-md-4">
                
                <h5>Working Hours</h5>
                <hr class="light">
                <p>Mon-Fri: 9am-5pm</p>
                <p>Saturday: 9am-12pm</p>
                <p>Sunday: Hoilday</p>
            </div>
            <div class="col-md-4">
                
                <h5>Branches</h5>
                <hr class="light">
                <p>Pune, India</p>
                <p>London, UK</p>
                <p>Utah, USA</p>
            </div>

            <div class="col-12">
                <hr class="light">
                <h5>&copy; Company.com</h5>
            </div>
            
        </div>
    </div>
</footer>