
<div class="conainer-fluid" id="PhilPadding">
    <div class="row ">
        <div class="col-lg-7">
            <h2>Our Philosophy</h2>
            <p>Companies need to face profound transformations to stay ahead of their markets. It’s not only about technology: it’s about impacting every single dimension of the organization.
                 To do so, we have developed a unique model that helps to surf this new wave.</p>
            <p>The Organizational Fitness Lifecycle is a set of stages that any organization needs to go through, in order to transform. Globant, through the Studio model, supports every one of these stages.

                Organizational Fitness
                </p> 
        </div>
        <div class="col-lg-5">
            <img src="../assets/team1.png" alt="" height="65%" >
        </div>
    </div>
</div>

<hr class="light">